<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="Club">
    
       <sql id="searchlocal">
          <if test="local.length() > 0"> 
          and club_local like '%'||#{local}||'%'
          </if>
       </sql>
          
       <sql id="searchcategory">
          <if test="category.length() > 0">
          and cate_name like '%'||#{category}||'%'
          </if>
       </sql>
       
       <sql id="searchclubname">
          <if test="keyword.length() > 0">
          and club_name like '%'||#{keyword}||'%'
          </if>    
       </sql>
       
       
       <sql id="alignment">
          <if test="alignment == 0">
          order by club_regDate desc
          </if>
          <if test="alignment == 1"> 
          order by club_regDate
          </if>
          <if test="alignment == 2"> 
          order by upcnt desc
          </if>
          <if test="alignment == 3"> 
          order by downcnt desc
          </if>
          <if test="alignment == 4"> 
          order by joincnt
          </if>
          <if test="alignment == 5"> 
          order by joincnt desc
          </if>
       </sql>
       
       
   
    <sql id="sort">
       <if test="sort ==1">
       and club_status = 1
       </if>
       <if test="sort ==2">
       and club_status = 2
       </if>
    </sql>

       <select id="selectSearchClubList" resultType="club">
          select *
          from club_view

          where club_no is not null and club_status='1'
          <include refid="sort" />
          <include refid="searchlocal" />
          <include refid="searchcategory" />
          <include refid="searchclubname" />
          <include refid="alignment" />
       </select>
       <select id="selectSearchClubListForAdmin" resultType="club">
          select *
          from club_view

          where club_no is not null and (club_status='1' or club_status='2')
          <include refid="sort" />
          <include refid="searchlocal" />
          <include refid="searchcategory" />
          <include refid="searchclubname" />
          <include refid="alignment" />
       </select>
       
        <select id="selectNewClubList" resultType="club">
          select *
          from club_view
          where club_no is not null and club_status='0'
          <include refid="searchclubname" />
          order by club_regDate desc
       </select>
       
        <select id="selectNewClubCount" resultType="int">
          select count(*)
          from club_view
          where club_status='0'
          <include refid="searchclubname" />
       </select>
       
       <select id="selectSearchClubCount" resultType="int">
          select count(*)
          from club_view
          where club_no is not null and club_status='1'
          <include refid="sort" />
          <include refid="searchlocal" />
          <include refid="searchcategory" />
          <include refid="searchclubname" />
          <include refid="alignment" />
       </select>
       <select id="selectSearchClubCountForAdmin" resultType="int">
          select count(*)
          from club_view
          where club_no is not null and (club_status='1' or club_status='2')
          <include refid="sort" />
          <include refid="searchlocal" />
          <include refid="searchcategory" />
          <include refid="searchclubname" />
          <include refid="alignment" />
       </select>
       
       <select id="selectClub" resultType="club">
          select *
          from club_view
          where club_no=#{club_no}
       </select>
       
       <select id="selectClubSeq" resultType="int">
          select club_seq.nextval as club_seq
          from dual
       </select>
       
       <update id="insertClub" parameterType="club">
          insert into club(club_no, mem_id, cate_name, club_name, club_content, club_local)
          values(#{club_no}, #{mem_id}, #{cate_name}, #{club_name}, #{club_content}, #{club_local})
       </update>
          
       <update id="updateClub" parameterType="club">
          update club
          set
          club_content=#{club_content}, club_local=#{club_local}
          where club_no=#{club_no}
       </update>
       
       <update id="deleteClub" parameterType="club">
          delete 
          from club
          where club_no=#{club_no}
       </update>
       
       <update id="updateClubStatus">
          update club
          set
          club_status= 1
          where club_no=#{club_no}
       </update>
       
       <update id="updateStopClubStatus">
          update club
          set
          club_status= 2
          where club_no=#{club_no}
       </update>
    
       
       <select id="recommendClubMain" resultType="club">
          
             select *
             from
             (select * from club_view where club_local like '%'||#{mem_local}||'%' and club_status='1' order by abs(upcnt-downcnt) desc)
          <![CDATA[
             where rownum <= 3
          ]]>
          
       </select>
       <select id="recentClubMain" resultType="club">
          <![CDATA[
             select *
             from
             (select * from club where club_status='1' order by club_regDate desc)
             where rownum <= 6
          ]]>
       </select>
       
       <!-- 내가 만든 클럽 조회 -->
       <select id="selectMyClub" resultType="club">
          select *
          from club_view
          where mem_id = #{mem_id}
          order by club_name
       </select>
       
       <select id="selectClubCount" resultType="int">
          select count(*)
          from club_view
          where club_name = #{club_name}
          
       </select>
       
       <!-- 블랙리스트 -->
       <select id="selectBlackList" resultType="club">
          
          select *
          from club_view
          where club_no is not null 
          and (club_status='1' or club_status='2') 
          <![CDATA[
          and mi < 0
          ]]>
          <include refid="sort" />
          <include refid="searchclubname" />
          order by abs(upcnt-downcnt) desc
       </select>
       
       <select id="selectBlackListCount" resultType="int">
       
          select count(*)
          from club_view
          where club_no is not null 
          and (club_status='1' or club_status='2') 
          <![CDATA[
          and mi < 0
          ]]>
          <include refid="sort" />
          <include refid="searchclubname" />
          
       </select>
       
    </mapper>
    