<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="Notice">
    	<select id="selectNoticeList" resultType="notice">
    		select *
    		from notice
    		order by not_regDate desc
    	</select>
    	<select id="selectNoticeCount" resultType="int">
    		select count(*)
    		from notice
    	</select>
    </mapper>